rust/wheels/https_everywhere_mitmproxy_pyo-0.1.0-cp36-cp36m-linux_i686.whl ; sys_platform == "linux" and platform_machine == "i686" and platform_python_implementation == "CPython" and python_version == "3.6"
rust/wheels/https_everywhere_mitmproxy_pyo-0.1.0-cp37-cp37m-linux_i686.whl ; sys_platform == "linux" and platform_machine == "i686" and platform_python_implementation == "CPython" and python_version == "3.7"
rust/wheels/https_everywhere_mitmproxy_pyo-0.1.0-cp38-cp38-linux_i686.whl ; sys_platform == "linux" and platform_machine == "i686" and platform_python_implementation == "CPython" and python_version == "3.8"
rust/wheels/https_everywhere_mitmproxy_pyo-0.1.0-cp36-cp36m-linux_x86_64.whl ; sys_platform == "linux" and platform_machine == "x86_64" and platform_python_implementation == "CPython" and python_version == "3.6"
rust/wheels/https_everywhere_mitmproxy_pyo-0.1.0-cp37-cp37m-linux_x86_64.whl ; sys_platform == "linux" and platform_machine == "x86_64" and platform_python_implementation == "CPython" and python_version == "3.7"
rust/wheels/https_everywhere_mitmproxy_pyo-0.1.0-cp38-cp38-linux_x86_64.whl ; sys_platform == "linux" and platform_machine == "x86_64" and platform_python_implementation == "CPython" and python_version == "3.8"
rust/wheels/https_everywhere_mitmproxy_pyo-0.1.0-cp36-cp36m-linux_armv7l.whl ; sys_platform == "linux" and platform_machine == "armv7l" and platform_python_implementation == "CPython" and python_version == "3.6"
rust/wheels/https_everywhere_mitmproxy_pyo-0.1.0-cp37-cp37m-linux_armv7l.whl ; sys_platform == "linux" and platform_machine == "armv7l" and platform_python_implementation == "CPython" and python_version == "3.7"
rust/wheels/https_everywhere_mitmproxy_pyo-0.1.0-cp38-cp38-linux_armv7l.whl ; sys_platform == "linux" and platform_machine == "armv7l" and platform_python_implementation == "CPython" and python_version == "3.8"
mitmproxy==5.1.1
