<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>HTTPS Everywhere</title>
    <link rel="stylesheet" href="static/style.css" type="text/css" />
    <link rel="shortcut icon" href='/static/favicon.ico'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id='wrapper'>
      {% block body %}{% endblock %}
    </div>
  </body>
</html>
